POSTGRES_USER=emaildbuser
POSTGRES_PASSWORD=em4ildbp4ss
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=pgadmin@gbtec.es
PGADMIN_DEFAULT_PASSWORD=abc123.
PGADMIN_PORT=5050
RABBITMQ_USER=emailmquser
RABBITMQ_PASSWORD=em4ilmqp4ss